* {
  text-decoration: none;
  margin: 0 auto;
  padding: 0px;
}
body {
  background-color: white;
  color: white;
  font-family: "Bebas Neue", sans-serif;
}

nav {
  position: absolute;
  align-items: center;
  justify-content: space-between;
  background-color: whitesmoke;
  width: 100%;
  font-size: 26px;
  font-weight: bolder;
}
.index {
  overflow: hidden;
}

nav ul {
  display: inline-flex;
  position: absolute;
  top: 25px;
  left: 32%;
  background-color: whitesmoke;
}

nav a {
  display: inline-block;
  color: black;
}
nav li {
  overflow: hidden;
  margin: 0 20px;
}

nav ul a:hover {
  color: rgb(153, 143, 143);
  cursor: default;
}
.active {
  color: #a3080c;
}

.logo {
  font-weight: bold;
  position: relative;
  left: 50px;
  color: #a3080c;
}

.localisations {
  position: relative;
  top: 100px;
  text-align: center;
  color: white;
  text-shadow: 2px 3px 10px rgb(0, 0, 0);
}

.t1 {
  font-size: 60px;
}

.slogan {
  color: white;
  align-items: center;
  position: relative;
  top: 350px;
  text-align: center;
  text-shadow: 2px 3px 10px rgb(0, 0, 0);
}
.consulter {
  text-align: center;
  position: relative;
  top: 100px;
  font-size: 38px;
  border: solid white;
  padding: 8px;
  box-shadow: 1px 1px 2px 0px red;
  color: white;
}

.banniere {
  background-size: cover;
  background-position: center center;
  position: relative;
  top: 80px;
  padding: 60px;
  text-align: center;
  text-shadow: 2px 3px 10px rgb(0, 0, 0);
  box-shadow: 1px 1px 2px 0px red;
  font-size: 33px;
}

.formulaire {
  position: relative;
  top: 100px;
  left: 40px;
  font-size: larger;
  border-left: 3px 3px 3px 3px black;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  width: 100%;
  max-width: 700px;
}

input,
textarea,
input[type="email"] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  margin-right: 0px;
  margin-left: 0px;
}

label {
  margin-right: 0px;
  margin-left: 0px;
  width: 100%;
}

.formulaire button {
  background-color: #a3080c;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.formulaire button:hover {
  background-color: #64070a;
}

.contenuhistoire {
  position: relative;
  top: 110px;
  text-align: center;
  margin: 0em 5em 0em 5em;
  font-size: 25px;
  font-family: "National 2 Condensed Bold";
  text-shadow: 2px 3px 10px white;
}

.contenuhistoire p {
  padding-bottom: 50px;
  font-family: "National 2 Condensed";
}

.contenuhistoire h1 {
  box-shadow: 1px 1px 2px 0px black;
  margin-bottom: 10px;
  border-radius: 5px;
}

.bloc {
  background-image: url(images/histoiree.png);
  background-repeat: repeat;
}
.contenumenu {
  position: relative;
  top: 110px;
  font-size: 15px;
  font-family: "Bebas Neue", sans-serif;
  text-shadow: 2px 3px 10px white;
  margin-left: 3em;
}
.contenumenu h2 {
  padding-bottom: 20px;
  padding-top: 20px;
  font-family: "Bebas Neue", sans-serif;
  font-size: 45px;
  text-shadow: 2px 3px 10px white;
}

.contenumenu h3 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 26px;
}

.contenumenu img {
  width: 40%;
}
.bloc1 {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  row-gap: 10px;
}
.bloc1 div {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 6px 6px 25px rgba(0, 0, 0, 0.5);
  text-align: center;
}

.prix {
  font-style: italic;
  margin-top: 5px;
  font-size: 17px;
  justify-content: center;
  align-items: center;
}
.Description {
  font-size: 15px;
  font-family: "Viga", sans-serif;
}

.contenuloca {
  position: relative;
  top: 110px;
  text-align: center;
}
.formliste {
  position: relative;
  width: 350px;
  height: 45px;
  overflow: hidden;
  border-radius: 5px;
  border: 1px solid #ced4da;
}

.contenuloca div {
  margin: 20px;
  border-radius: 10px;
  box-shadow: 6px 6px 25px rgba(0, 0, 0, 0.5);
  text-align: left;
  padding: 10px;
  font-size: 19px;
}

.contenuloca img {
  width: 70px;
  height: 70px;
  display: block;
  float: right;
  line-height: 21px;
  text-align: right;
  position: relative;
  top: -40px;
}

select {
  outline: 0;
  border: 0;
  background: #f9f9f9;
  font-size: 1.2em;
  width: 100%;
  height: 100%;
  margin: 0;
  padding-left: 15px;
  color: #555555;
  cursor: pointer;
}
.formliste::after {
  content: "\276F";
  position: absolute;
  top: 15%;
  right: 0;
  padding: 0 15px;
  pointer-events: none;
  transform: rotate(90deg);
  font-size: 1.5em;
  background: #f9f9f9;
}
.formliste:hover::after {
  color: #a3080c;
}

.liste {
  background-color: grey;
  border: 1px dotted #999;
  border-radius: 0;
}

.contenuavis {
  position: relative;
  top: 90px;
  text-align: center;
}
.blocavis {
  box-shadow: 6px 6px 25px rgba(0, 0, 0, 0.5);
  font-size: larger;
  margin-bottom: 10px;
}

.blocrating {
  display: table;
  align-items: center;
  justify-content: center;
  width: 50%;
  border-radius: 0.75rem;
  box-shadow: 6px 6px 25px rgba(0, 0, 0, 0.5);
  padding: 10px;
  margin-bottom: 30px;
}
.blocrating h3 {
  font-size: 30px;
}

.rating {
  font-size: 27px;
}
.rating .star {
  cursor: pointer;
}
.rating .star:hover {
  transform: scale(1.1);
}

.blocrating textarea {
  padding: 1rem;
  border-radius: 0.5rem;
  background: #f5f5f5;
  border: none;
  outline: none;
  resize: none;
}

.btn {
  border-radius: 0.75rem;
  padding: 0.75rem;
}
.submit,
.cancel {
  border-radius: 0.75rem;
  padding: 0.75rem;
  cursor: pointer;
  border: none;
  outline: none;
}
.submit {
  background: #a3080c;
  color: white;
}

.submit:hover {
  background: #8d070c;
}
.cancel:hover {
  background: #e7e3e3;
}

.review {
  font-size: 18px;
  text-align: left;
  border-radius: 0.75rem;
  margin: 40px;
  display: grid;
  grid-template-columns: 33% 33% 33%;
}
.review div {
  box-shadow: 6px 6px 25px rgba(0, 0, 0, 0.5);
  padding: 30px;
  margin-bottom: 30px;
  margin-right: 20px;
}
.review p {
  font-family: "Rubik", Courier, monospace;
}

.footer {
  padding: 20px;
  background-color: #e7e4e4;
  color: #000000;
  box-shadow: 6px 6px 25px rgba(97, 93, 93, 0.5);
}

.footer ul {
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
}

.footer li {
  padding: 0 10px;
  display: inline-block;
}

.footer ul a {
  color: inherit;
  opacity: 0.8;
}

.footer ul a:hover {
  opacity: 1;
}

.footer .social {
  text-align: center;
  padding-bottom: 10px;
}

.footer .social > a {
  font-size: 24px;
  width: 40px;
  height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  margin: 0 8px;
  color: inherit;
  opacity: 0.75;
}

.footer .social > a:hover {
  opacity: 0.9;
}

.footer .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 17px;
  color: #aaa;
  margin-bottom: 0;
}

#votremessage {
  display: none;
}
